* {
    font-family: 'Montserrat';
}

.App {
    --header_height: 60px;
    padding: 0 0 143px 0;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 25px 70px 35px 70px;
    min-height: 336px;
}

.hw__content {
     /* display: flex;
     flex-direction: row-reverse; */
}

.hwTitle {
    margin: 39px 0 10px 70px;
    font-weight: 600;
    font-size: 22px;
}